test.xml

<?xml version="1.0" encoding="Windows-1252" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xs:schema">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>XSDSchema inside this XML that document VFPData (Total bullshit), you can ignore this xs:schema element while parsing</xs:documentation>
            </xs:annotation>
        </xs:complexType>
    </xs:element>
    <xs:element name="VFPData">
        <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="pomizarizen_wsseznam" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="zarizeni">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="5"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Institution code</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="rezim_uzi">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>User right's identifier. S = Normal user</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="text_uziv">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="2147483647"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Arbitrary text supplied by institution</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="datcas_akt" type="xs:dateTime">
                                     <xs:annotation>
                                        <xs:documentation>Last update time</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="zas_obj">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="1"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Uknown identifier, always "A" for me</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="zas_vyd">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="1"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Uknown identifier, always "A" for me</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="zas_pla">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="1"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Uknown identifier, always "A" for me</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="text_anon">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="2147483647"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Arbitrary text supplied by institution</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="zeme">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="2"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Language in A2 format (http://www.worldatlas.com/aatlas/ctycodes.htm)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="v_nazev">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="76"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Name of institution</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="v_ulice">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="38"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Street</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="v_mesto">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="38"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>City</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="v_psc">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="6"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>ZIP code of institution</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="v_telefon">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="38"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Phone number of instition</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="v_ucet">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="38"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Bank account of institution</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="v_email">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="60"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Email of instituion</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="v_url">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="128"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Institution website URL?</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="verze">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:decimal">
                                            <xs:maxLength value="5"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Application version (Not android app version). It's decimal number</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="pasivni_oi">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="1"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Some unknown state. It's always N for me</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="urlwsdl">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="254"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Looks like wsdl url, but it's unused</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="urlwsdl_s">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="254"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                    <xs:annotation>
                                        <xs:documentation>Looks like ssl wsdl url, but it's unused</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="android">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="1"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                     <xs:annotation>
                                        <xs:documentation>Looks, that it's unused</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:complexType>
    </xs:element>
</xs:schema>